body {
   margin: 0;
   padding: 0;
   color: #353535;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
   /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}


/** Common */

.page-center {
   max-width: 600px;
   margin: 0 auto;
}

.monospace {
   font-family: monospace;
}

.quote-indent {
   margin-right: 8%;
   margin-left: 8%;
}

/** Header */

.header {
   padding: 0.5em;
   border-bottom: 1px solid #999;
}

.header .title {
   font-size: 1.12em;
   font-weight: bold;
}

.lasercanvas-button img {
   max-width: 14px;
   max-height: 14px;
}

/** Main */

.main {
   padding: 1em 0.5em;
}

   .main .block-heading {
      padding: 0.25em 0;
      margin: 1em 0 0.25em 0;
      font-weight: bold;
      font-size: 1.15em;
      border-bottom: 1px solid #e7e7e7;
   }

   .main .block-subheading {
      margin: 0.5em 0 0.25em 0;
      font-weight: bold;
   }

   .main .block {
      padding: 0.25em 0;
   }

   .main .figure {
      padding: 0.5em 0;
      text-align: center;
   }

      .main .figure img {
         max-width: 50%;
      }

   .main .caption {
      padding: 0.25em 0;
      margin: -0.25em 5% 1em 5%;
      color: #666;
      font-style: italic;
      text-align: center;
   }

/* Fixed header */
.header {
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   background: white;
}

.main {
   margin-top: 64px;
}